{% extends 'base_form.html' %}

{% block title %}Удаление задачи{% endblock %}

{% block content %}

    <h1>{{title}}</h1>

<div class={{todo.block1}}>
<!--<h3>{{one_todo.title }}</h3>-->
<p>{{one_todo.created_date}}</p>
<p>{{one_todo.description}}</p>
    <a href="{% url 'todo_update' one_todo.id %}" class="btn btn-primary btn-sm">Изменить задачу</a>
    <br>
    <br>
    <a href="{% url 'todo_delete' one_todo.id %}" class="btn btn-danger btn-sm">Удалить задачу</a>
</div>

<hr>

<div>
    <p>
    <script src="script.js"></script>
    <button id="button" class="button">Complete</button>
    <h6>
        "Кнопка нажималась "
        <span id="counter"></span>
        "раз(а)"
    </h6>
    </p>
</div>
{% endblock %}
